.social_card {
  box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%),
    0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
  border-radius: 4px;
  background-color: bisque;
  color: var(--text-color);
}

.social_card_space {
  width: 100%;
}
.social_image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.social_button {
  padding: 0px;
}
.social_button.twitter {
  color: var(--twitter);
}
.social_button.linkedin {
  color: var(--linkedin);
}
.social_button.github {
  color: var(--github);
}
.social_button.website {
  color: var(--website);
}
.social_button.gmail {
  color: var(--gmail);
}
