@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import "~antd/dist/antd.css";

:root {
  --text-color: #001529;
  --twitter: #1da1f2;
  --linkedin: #0077b5;
  --github: #333333;
  --website: #1890ff;
  --gmail: #db4437;
  --white: #ffffff;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-layout {
  background: var(--white);
}

.ant-layout-header,
.ant-layout-footer {
  text-align: center;
  background: var(--text-color);
  color: var(--white);
}

.header_space {
  width: 100%;
  justify-content: space-between;
  align-items: inherit;
}
.header_space_brand {
  padding: 0px;
  color: var(--white);
}
.header_space_brand:hover {
  color: var(--white);
}
